header {
  .container {
    width: 100%;
    margin: auto;
    position: fixed;
    background-color: var(--header);
    color: #efbc74;

    .info {
      width: 80%;
      margin: 0 auto;
      height: 50px;

      h2 {
        margin: 0;
        font-size: 30px;
      }
    }
  }
}
